@import "valoresDefault.styl"

img.alignright
	float: right
	margin: 0 0 1em 1em

img.alignleft
	float: left
	margin: 0 1em 1em 0

img.aligncenter
	display: block
	margin-left: auto
	margin-right: auto

.alignright
	float: right

.alignleft
	float: left

.aligncenter
	display: block
	margin-left: auto
	margin-right: auto

.btn-pyt-reg
	display: block

.btn-pyt-rwd
	display: none

pre
	display: block

.full_overlay
	overflow: visible !important
	color: red !important
	position: relative
	z-index: 100
	float: left !important
	display: block !important

.rsUni .rsGCaption
	display: none

.rsUni .rsBullets
	height: 25px !important
	position: absolute !important
	bottom: -25px !important
	z-index: 5 !important

.rsUni .rsBullet
	padding: 7px !important

.rsUni .rsBullet:hover
	cursor: pointer !important

.rsUni .rsBullet span
	height: 10px !important
	width: 10px !important

.royalSlider
	overflow: hidden !important

.clearfix li

a:visited, a:focus
	color: #F00

a:-webkit-any-link
	text-decoration: none !important

body
	// background: url(images/bg-tile-texture.gif) repeat
	background #F2EFED
	font-family: Arial, Helvetica, sans-serif
	line-height: normal !important

header#banner
	background: url(images/bg-header.gif) repeat-x

nav
	// background: url(images/bg-nav.gif) repeat
	background rgba(245,245,245,0.90)
	z-index: 9;

.menu_container
	max-width: 1024px
	margin: 0 auto
	position relative
	z-index 10
	display flex
	display -webkit-flex
	-webkit-flex-direction row-reverse;
	flex-direction row-reverse;
	-webkit-align-items center
	align-items center

a, a:link, a:visited:link
	color: #b8731c
	-webkit-tap-highlight-color: #b8731c !important

a:hover, a:focus
	outline: none

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
	font-family: 'Raleway', sans-serif !important

h1.page-title
	margin-bottom: 0px

h2
	// text-transform: none !important
	margin: 0

.hdg-grey-caps
	font-family: 'Raleway', sans-serif !important
	font-size: 18px
	font-weight: 600
	text-transform: uppercase
	color: #333
	margin: 0

.hdg-orange-caps
	font-family: 'Raleway', sans-serif !important
	font-size: 18px
	font-weight: 600
	text-transform: uppercase
	color: #ef8a0b
	margin: 0

#content.homepage h1
	font-size: 1.4em

#content h1
	font-size: 2em
	color: #ef8a0b
	margin: 0.5em 0

.entry-content .hdg-grey-caps
	text-transform: capitalize !important
	margin-top: 20px
	margin-bottom: 20px

footer
	background: #FFF
	font-size: 11px

footer.article-header
	background: none !important

footer p
	display: inline-block

footer a, footer a:visited
	color: #666
	font-weight: bold
	text-decoration: none

footer a:hover
	color: #333
	font-weight: bold
	text-decoration: none

#sub-footer
	border-top: 5px solid rgba(0,0,0,0.36)
	margin-top 20px
	padding-top 15px

.sub-footer-left
	float: left
	max-width: 400px
	width: 100%

.sub-footer-right
	float: right
	max-width: 531px
	width: 100%
	font-size: 11px

.article-footer
	display: none

div.sub-footer-left ul, div.sub-footer-left #sidebar ul li, #sidebar h1, div.sub-footer-left #sidebar ul, div.sub-footer-right #sidebar ul li, div.sub-footer-right h2, div.sub-footer-right #sidebar ul, div.sub-footer-left .widget, div.sub-footer-left h1
	padding: 0
	margin: 0

div.sub-footer-left h1
	color: #565656

div.sub-footer-left h1, div.sub-footer-right h2
	font-size: 16px

#inner-footer
	padding-top: 10px

.footer-follows
	float: right
	margin-right: 15px !important

.footer-follows .col-a
	float: left
	margin-top: 10px
	margin-right: 5px

.footer-follows .col-b
	float: left
	margin-top: -10px

.home.page .footer-follows #sidebar ul
	margin-top: 0 !important

.home.page .footer-follows #sidebar ul li
	margin-top: 10px !important

.footer-follows .widget
	margin: 0
	padding: 0

#slideshow-home
	width: 100%
	height: auto
	overflow: hidden

#slideshow-lp
	width: 100%

div.slider-content
	z-index: 1000 !important

.slider-content
	max-width: 300px
	background: url(images/bg-tooltip.png) repeat
	padding: 15px
	position: absolute
	z-index: 100
	left: 13%
	top: 10%
	color: #333

.slider-content h3 a, .slider-content a
	color: #e77000
	text-decoration: none

.slider-content h3
	padding: 0
	margin: 0

.slider-content h3 a
	font-size: 1.4em
	font-weight: 500
	font-family: 'Raleway', sans-serif

.slider-content h3 a:hover
	color: #3b4f59

.slider-content a
	font-size: .9em
	font-family: 'Raleway', sans-serif
	font-weight: bold

.portfolio-slideshow
	height: 400px !important
	overflow: hidden !important

p.slideshow-caption
	background: url(images/bg-black-30.png) repeat
	color: #FFF
	padding: 8px
	margin: 10px 0 !important
	position: absolute
	top: 22px
	z-index: 2 !important
	height: 35px
	font-weight: bold

nav ul li a
	color: #CCC

div.trip h3 a
	color: #3b4f59
	text-transform: none

div.trip h3 a:hover
	color: #666

.txt-brown
	color: #a8804d
	padding-right: 10px

#sub-nav
	max-width: 100%
	height 34px
	// font-family: 'Montserrat', sans-serif
	// text-transform: uppercase
	// font-size: 11px

#sub-nav .sub-nav-left
	float: left

#sub-nav .sub-nav-right
	float: right
	color: #FFF

#sub-nav .sub-nav-right a
	color: #a8804d
	text-decoration: none
	padding: 0 5px

#sub-nav a:hover
	color: #F9A11B

.home.page .entry-content p
	line-height: 1.4em !important

.home.page h1
	color: #333
	font-size: 18px
	font-weight: 600 !important

.home.page #sidebar ul, .home.page #sidebar .widget
	margin-top: 23px !important

.home.page #sidebar ul li.widget_text
	margin-top: 10px !important

.page h1
	color: #ef8a0b
	background: none

.home.page .entry-content a
	text-transform: uppercase
	font-family: 'Raleway', sans-serif
	color: #b8731c
	text-decoration: none

.home.page .entry-content a:hover
	color: #ef8a0b

article ul li
	padding: 7px 0
	margin-left: 15px
	list-style: disc

li.nav-travelstyle, li.nav-customtravel, li.nav-about, li.nav-experiences, li.nav-exclusive
	background: url(images/img-nav-sep.png) center right no-repeat !important

.main_menu
	margin: 0px

.menu-item-69
	width: 150px
	position: relative

.menu-item-69 a span
	display: none

#logo_link
	background: url("images/logo-journey-mexico.png") no-repeat scroll center -3px rgba(0, 0, 0, 0) !important
	height: 129px
	position: absolute
	top: -37px
	width: 160px
	z-index: 1000
	left 0

#logo_link:hover
	top: -33px

.main_menu li.pyt
	background: none repeat scroll 0 0 #EF8A0B !important
	font-size: 14px
	padding: 0
	text-align: center
	width: 150px

.main_menu li.pyt a
	color: #fff

.main_menu li.pyt:hover a
	color: #333

#sidebar, #sidebar1
	float: right
	width: 300px
	// background: url(images/bg-sidebar.png) no-repeat center top
	padding: 0 10px
	// margin-top: -80px
	position: relative
	z-index: 10
	min-height: 300px
	margin-left: 0 !important

.single #sidebar1, .page #sidebar1, div#sidebar1
	background: url(images/bg-sidebar-pages.png) no-repeat #f8f8f8
	-webkit-border-top-left-radius: 20px
	-webkit-border-top-right-radius: 20px
	-moz-border-radius-topleft: 20px
	-moz-border-radius-topright: 20px
	border-top-left-radius: 20px
	border-top-right-radius: 20px
	-moz-box-shadow: -0px -3px 3px rgba(0, 0, 0, 0.2)
	-webkit-box-shadow: -0px -3px 3px rgba(0, 0, 0, 0.2)
	box-shadow: -0px -3px 3px rgba(0, 0, 0, 0.2)
	border-bottom: 1px solid #e4e4e4

#sidebar.home.textwidget
	margin: 0
	padding: 0
	height: 240px

#sidebar.home p
	margin: 0

#sidebar h1, #sidebar1 h1
	display: none !important

#sidebar.home h2
	color: #ef8a0b
	font-size: 1.4em
	margin-top: 5px
	font-weight: 600

.home.page #sidebar ul li
	margin-bottom: 0

// form#searchform
// 	background: #ebebeb
// 	border: 1px solid #ccc
// 	color: #666
// 	margin-top: 15px

input#searchsubmit
	background: url(images/ico-search.png) center center transparent no-repeat
	width: 30px
	height: 30px
	padding: 0 5px
	float: right
	border: 0px

input.sbox
	width: 85%

h4.widgettitle
	border: none
	text-decoration: none
	font-size: 1.6em
	font-weight: 500

#text-11 .textwidget h4
	font-size: 20px
	font-weight: 500

.widget-block-links ul.page-list li a
	width: 120px !important
	background: #FFF
	padding: 5px
	float: left
	margin: 0 10px 8px 0
	font-size: .9em

.widget-block-links ul.page-list li a:hover
	background: #e4e4e4

.textwidget blockquote.quotescollection
	margin: .8em .8em .8em 0.3em !important
	font-size: 1em
	line-height: 1.5em !important
	font-style: italic

.widget_recent_entries ul li, li.cat-post-item
	list-style-image: url(images/img-bullet-orange.png) !important
	margin-left: 15px

li.cat-post-item a
	color: #666
	font-weight: bold

li.cat-post-item a:hover
	color: #999

.image-map
	height: 190px

.rwd
	display: none

// .home.page #content
// 	padding-top: 50px

#content
	clear: both
	background: url(images/bg-header.gif) top center repeat-x
	padding-top: 0px
	margin: 0 !important

.tooltip
	border-bottom: 1px dotted #000000
	color: #000000
	outline: none
	text-decoration: none
	position: relative

.tooltip span
	margin-left: -999em
	position: absolute

.tooltip:hover span
	border-radius: 5px 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1)
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1)
	position: absolute
	left: 1em
	top: 1em
	z-index: 99
	margin-left: 0
	width: 200px

.tooltip:hover img
	border: 0
	margin: -10px 0 0 -55px
	float: left
	position: absolute

.tooltip:hover em
	font-size: 1em
	font-weight: bold
	display: block
	padding: 0.2em 0 0.2em 0
	font-style: normal
	color: #333

.classic
	padding: 0.8em 1em

.custom
	top: -150px !important
	padding: 0.5em 0.8em 0.8em 0.8em

.classic
	background: url(images/bg-tooltip.png) repeat
	border: 1px solid #e4e4e4

.critical
	background: #FFCCAA
	border: 1px solid #FF3334

.help
	background: #9FDAEE
	border: 1px solid #2BB0D7

.info
	background: #9FDAEE
	border: 1px solid #2BB0D7

.warning
	background: #FFFFAA
	border: 1px solid #FFAD33

.form-left
	float: left
	margin-right: 7px
	font-size: 1.2em !important

.wpmega-nonlink div.wpcf7 input[type="text"], .wpmega-nonlink div.wpcf7 textarea
	width: auto !important

.datepicker
	max-width: 70%
	background-color: #FFFFFF
	border: 1px solid #CCCCCC
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s

.wpcf7-form div.wpcf7-response-output
	width: 100%
	overflow: auto

div.pyt-form
	width: 650px !important
	border: 0
	font-size: 1.1em !important

.wpmega-nonlink div.wpcf7 p
	float: left

.btn-submit
	background: #ee6a00
	padding: 5px 14px
	color: #FFF
	font-weight: bold
	border: 0
	font-family: 'Raleway', sans-serif

.btn-submit:hover
	background: #ef8a0b
	cursor: pointer

.nav-sub-about-us
	width: 350px

.nav-sub-visit-mexico
	width: 150px

.tile
	float: left
	margin-right: 16px
	height: 200px
	width: 205px
	display: block

.tile ul li
	margin: 0 0 0 25px
	padding: 0
	list-style: disc

.tile ul li a:hover, .services a:hover
	color: #8DD1E2 !important

.tile img
	display: block !important
	float: none
	width: auto
	overflow: visible

.tile p
	margin: 0
	font-size: 1em
	line-height: 1.5em

.tile h2
	margin: 5px 0 0 0
	padding: 0
	font-size: 1em
	text-transform: uppercase

.tile h2 a
	color: #666

.tile h2 a:hover
	color: #38B8CC !important

.tile h3
	margin: 10px 0
	padding: 0
	font-size: 1.1em
	line-height: 1.2em
	text-transform: uppercase

.full_overlay .overlay_content

.overlay_content h2
	margin: 0 0 10px 0 !important
	padding: 0 !important

.overlay_content h3
	color: #38B8CC !important

div.overlay_content
	min-height: 87% !important

.overlay_content img
	width: 200px !important

.full_overlay img
	border: 1px solid #FFF

.overlay_content p, .full_overlay p
	margin: 0 !important
	padding: 0 !important

.breadcrumb
	max-width: 670px
	padding: 10px 0 20px 0
	font-weight: normal
	text-transform: uppercase
	font-family: 'Montserrat', sans-serif
	font-size: 11px

.breadcrumb a
	color: #3b4f59 !important

.breadcrumb a:hover
	color: #999 !important

img.thumb-itinerary
	margin-top: -30px !important
	margin-left: 10px
	border: 1px solid #F00

.su-accordion
	clear: both

.su-spoiler-style-1 > .su-spoiler-title
	background: url(images/spoiler-closed.png) right center no-repeat #e4e4e4 !important
	padding: 10px 5px 10px 8px !important
	color: #3b4f59
	font-size: 1.4em
	text-transform: uppercase
	font-family: 'Raleway', sans-serif
	font-weight: 600 !important

.su-spoiler-style-1.su-spoiler-open > .su-spoiler-title
	background: url(images/spoiler-open.png) right center #3b4f59 no-repeat !important
	padding: 10px 5px 10px 8px !important
	color: #FFF
	font-size: 1.4em
	text-transform: uppercase
	font-family: 'Raleway', sans-serif
	font-weight: 600 !important

.su-spoiler-style-1.su-spoiler-open
	background: #FFF !important

.su-spoiler-style-1.su-spoiler-open .su-spoiler-content
	width: 98% !important
	padding: 10px !important

.su-spoiler-style-2
	border: 0 !important
	background: none !important
	margin-bottom: 3em !important

.su-spoiler-style-2 > .su-spoiler-title
	padding: 0 0 0 20px !important
	background-position: top left !important
	background: url(images/spoiler-closed-small.png) top left no-repeat !important
	height: 18px !important
	font-size: 11px !important
	color: #3b4f59 !important
	text-transform: uppercase !important

.su-spoiler-style-2 .su-spoiler-content
	padding: 0 !important

.su-spoiler-style-2.su-spoiler-open > .su-spoiler-title
	border-bottom: 0 !important

h1.custom-post-type-title
	color: #ef8a0b
	font-weight: 400
	line-height: 1.2em

.itinerary-header
	height: auto

.itinerary h2
	color: #333333
	font-family: 'Raleway', sans-serif !important
	font-weight: 600
	font-size: 1.4em
	line-height: 1.2em

section h2
	margin-top: 6px
	font-family: 'Raleway', sans-serif !important
	font-weight: 600

.itinerary_tab
	padding: 10px 15px
	border: solid 1px #EF8A0B
	cursor: pointer

.itinerary_tab.active_tab
	background-color: #EF8A0B
	color: #fff

.inactive
	display: none

.itinerary h4
	font-family: 'Montserrat', sans-serif !important
	font-weight: normal !important
	margin-top: 0
	line-height: 1.7em !important

.itinerary p
	line-height: 1.4em !important

.wp-prev-next ul > li
	list-style: none

.trip
	display: block
	background: #FFF
	padding: 10px
	margin: 0 0 20px 0 !important
	width: 100%

.trip .col
	float: left

.trip.single
	background: none
	padding: 0

.trip .col h3
	font-size: 1.6em
	padding: 0
	margin: 0 0 5px 0

.trip .col.pic
	width: 20%

.trip .col.pic img
	width: 100%
	height: auto

div.col.content
	float: right
	width: 78%

.trip .col.pic img
	margin-bottom: 0 !important

.trip-intro
	width: 100%
	border-top: 1px solid #eddcc7
	border-bottom: 1px solid #eddcc7
	min-height: 50px

.trip-intro .highlight
	width: 50%
	padding-top: 3px
	padding-bottom: 0px

.trip-intro .highlight p

.trip-intro .price
	text-align: right
	width: 26%
	margin-right: 5px

.trip-intro p
	margin: 5px 0 5px 0

.trip-intro .button
	width: 21%
	text-align: center
	float: right
	margin-top: 10px !important

.trip .col .icons
	float: right

.button, .button:visited
	border: 0 !important
	margin: 5px 0 0 0 !important
	background: #ef8a0b !important
	-webkit-border-radius: 0 !important
	border-radius: 0 !important

.button a
	color: #FFF !important
	display: block

div.col.button:hover
	background: #3b4f59 !important

img.header-single
	z-index: -10
	position: relative

.header-img-container
	max-height: 400px
	overflow: hidden

#fancybox-wrap
	position: fixed !important
	top: 130px !important

#fancybox-content
	font-size: 11px !important
	border: 0 !important
	padding: 10px !important

#fancybox-content .form-col
	width: 180px !important
	margin-right: 15px

#fancybox-content div input
	margin-top: 8px

#fancybox-content input, #fancybox-content textarea

#fancybox-content textarea
	margin-top: 10px !important

.phone
	float: left

div.phone
	margin-top: 10px !important

.btn-pyt-reg a, .button a
	text-decoration: none

.wait *
	opacity: 0

.slideshow-content
	visibility: visible !important

.slideshow-wrapper
	position: relative

.book_form
	max-width: 850px
	width: 100%
	margin: 0 auto

.plantriptitle
	font-size: 20px
	margin-bottom: 20px

.wpcf7-not-valid-tip
	width: 300px !important
	top: -26px !important
	padding: 11px 6px !important

.contact-col .wpcf7-not-valid-tip
	width: 100% !important

.wpcf7-captchac
	float: none !important

.single-itinerary table.calendar
	z-index: 999999 !important
	left: 30px !important
	bottom: 62px !important

table.calendar
	margin-top: 24px

img.ajax-loader
	margin: 10px
	float: right

.clearfix
	zoom: 1

.clearfix:before, .clearfix:after
	content: ""
	display: table

.clearfix:after
	clear: both

#fancybox-content input, #fancybox-content textarea, .contact-col input, .wpcf7-textarea, .wpcf7-select, .wpcf7-text
	border: 1px solid #CCCCCC
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s
	border-radius: 1px
	padding: 11px 10px
	display: block
	margin-top: 10px
	width: 100%

.wpcf7-captchar
	border: 1px solid #CCCCCC
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s
	border-radius: 1px
	padding: 11px 10px
	display: block
	margin-top: 10px

.wpcf7-submit
	padding: 11px 10px

#fancybox-content p
	margin-bottom: 10px !important

#fancybox-content div.pyt-form
	width: auto !important

.paginate-top .page-navigation
	margin-top: 0px
	display: block

.bones_page_navi li.bpn-current
	border-bottom: 2px solid #ef8a0b !important
	position: relative
	background: #FFF
	font-weight: bold

.bones_page_navi li a:hover, .bones_page_navi li a:focus
	background: #FFF
	color: #333 !important
	font-weight: bold

.item
	width: 45%
	min-height: 350px
	margin: 5px 30px 10px 0
	text-align: center
	position: relative
	float: left

.item h5.hover-message
	display: none

.item:hover h5.hover-message
	display: block !important
	height: 207px
	background: #333
	text-align: center
	position: absolute
	top: 0
	width: 100%
	font-size: 1.8em
	vertical-align: middle
	padding: 26% 20px 20% 20px
	margin-top: 0px

.item:hover h5 a
	color: #efefef
	display: block
	min-height: 68px
	font-size: 0.8em
	line-height: 1.2em

.item:hover h5 a:hover
	color: #b8731c

.item h5
	margin: 7px 0 0

.item .caption p
	margin: 5px 0 0
	font-size: 11px

.item img
	opacity: 0.9
	width: 100%
	border: 0
	top: 0
	margin: 0 !important

.item img:hover
	opacity: 1

p.type
	border-bottom: 1px solid #e4e4e4
	text-align: center
	padding: 0 0 10px 0
	line-height: 1.8em

p.type a
	color: #333 !important
	font-size: 1.1em
	font-family: 'Montserrat', sans-serif
	text-transform: uppercase

p.type a:hover
	color: #ef8a0b !important

.item-name
	text-align: center
	text-transform: uppercase
	color: #333
	top: 200px
	position: relative
	font-family: 'Montserrat', sans-serif
	font-weight: normal !important
	border-bottom: 1px solid #e4e4e4
	padding-bottom: 5px

.item-name a
	color: #333 !important
	font-weight: normal !important
	font-size: 15px

.item-name a:hover
	color: #ef8a0b !important

.item-desc
	text-align: center
	color: #333
	top: 210px
	position: relative

#content .gallery-wrap
	margin: 45px 0 1.625em 0
	width: 100%
	min-height: 430px

#content .gallery
	margin: 0
	width: 100%
	display: block
	height: auto
	margin-bottom: 10px
	background: #e4e4e4

#content .gallery-item
	width: 100%
	height: auto
	position: relative
	margin-top: 30px

#content .gallery-item .gallery-icon
	width: 100%
	height: 400px
	overflow: hidden

#content .gallery-item .gallery-icon img
	border: 0 none
	padding: 0
	min-width: 700px
	max-width: 700px

#content .gallery-item .gallery-caption
	position: absolute
	top: 7px
	left: 7px
	padding: 1em
	background: rgba(255, 255, 255, 0.9) none
	max-width: 260px

.gallery-wrap #slideshow-controller
	top: 0
	position: relative

button.jqc-active
	background: #ef8a0b !important
	color: #FFF

.gallery-wrap #slideshow-controller button
	background: #FFF
	border: 0 !important
	margin-right: 5px !important

.gallery-wrap #slideshow-controller button:hover
	background: #CCC
	color: #FFF

.single h3
	font-weight: 500
	font-size: 25px

.filter-region
	text-align: right
	margin-bottom: 15px
	display: block
	width: 150px
	float: right

#sidebar h4.widgettitle, #sidebar1 h4.widgettitle
	display: none !important

div.mr_social_sharing_wrapper
	clear: both

span.mr_social_sharing img:hover, span.mr_social_sharing_top img:hover, .mr_social_sharing img:hover, .mr_social_sharing_top img:hover
	top: -2px !important
	position: relative

#mr-social-sharing-toolkit-widget-2
	margin-top: -17px !important

p.phone-tollfree
	font-size: 20px
	margin: 0 0 20px 0
	padding: 0

.accommstyle-title
	font-size: .8em
	text-transform: uppercase
	color: #999
	margin: 15px 0 25px 0

.widget_recent_entries ul li a
	color: #666
	font-weight: bold

.widget_recent_entries ul li a:hover
	color: #333

div.col.highlight table
	font-size: 1em !important

article.search-result
	width 100%
	display block
	border-bottom: 1px solid #ccc
	padding: 10px 0px 10px 20px

h3.search-title a
	font-size: 18px
	color: #ef8a0b

h3.search-title a:hover
	color: #666

.stButton .stBubble
	height: 32px !important
	line-height: 0.8em !important
	background-position: bottom center !important

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices
	height: 24px !important

.in-cat
	width: 100%
	margin: 0
	padding: 0 !important

.in-cat p
	margin: 0
	padding: 0

.post-meta
	border-bottom: 1px solid #e4e4e4
	border-top: 1px solid #e4e4e4

div.mc_interest
	margin-bottom: 10px

ul.mc_list li
	float: left
	margin-right: 10px

ul.mc_list li
	float: left
	margin-right: 10px

ul.mc_list li input
	margin-right: 5px
	float: left

.mc_interests_header
	width: 111px
	float: left
	font-weight: normal !important

#mc_signup_form .mc_var_label
	margin-right: 23px

.mc_merge_var
	margin: 10px 0 !important

.mc_signup_submit
	text-align: left !important
	clear: both
	margin-bottom: 20px !important

.mergeRow
	display: none !important

.trip.single
	margin-bottom: 10px

.box-likes.top
	width: auto
	float: right
	margin-top: -20px

.box-likes.bottom
	margin: 20px 0
	text-align: left

.in-cat.single
	margin-bottom: 10px

.team-member
	margin-bottom: 20px

.job-title
	color: #999
	margin-bottom: 10px
	font-weight: bold

.mtt_css_image_frame
	margin: 0 30px 20px 0px !important

.mtt_css_larger_font
	padding-top: 8px !important

.contact-col
	width: 30%
	margin-right: 3%
	float: left

.contact-col .last
	margin-right: 0

.contact-col p.txt
	margin-bottom: 0px

.contact-col input
	width: 100%

.contact-col .btn-submit
	width: auto
	float: left

.link-home
	z-index: 1000
	position: absolute
	// left: 50%
	left: 0
	display: block
	margin-left: -90px
	width: 160px
	height: 80px
	top: 0

.single .trip-intro .highlight
	max-width: 190px

div.col.social
	float: right
	margin: 10px 0
	height: 40px
	width: 100%
	max-width: 330px

div.col.social > .social-button-wrapper
	display: inline-block
	float: right
	width: 90px

.social-button
	float: right
	margin: 5px !important
	z-index: 100

#social-tt
	width: 80px !important
	margin-top: 5px

#social-google
	width: 60px !important
	margin: 5px

#social-fb
	width: 80px !important

#social-fb > span
	height: 25px !important

#fb-share
	display: none
	width: 70px

#btn-gplus
	width: 70px

#btn-fbshare
	margin-top: 5px
	width: 65px

@media only screen and (max-width: 900px)
	.slider-content
		top: 0
		left: 0

	.rwd
		display: block !important
		margin-bottom: 20px

	.rwd.pyt
		display: inline-block !important
		margin-bottom: 20px

	.rwd.pyt a
		background: #F60
		color: #FFF !important
		padding: 12px 5px !important

	#sub-nav
		height: 34px !important

	.lgo
		margin: 0 auto !important
		width: 100% !important
		z-index: 1000
		height: 60px
		top: 0 !important
		background: #FFF

	.lgo span
		display: none

	.lgo a
		height: 59px
		position: relative !important
		display: block
		width: 300px
		margin: 0 auto
		top: 0 !important
		background: url(images/logo-jmex-mobile.jpg) no-repeat !important

	.lgo a:hover
		background-position: center 0px !important

	.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect, .responsiveMenuSelect
		display: block !important
		margin: 0 auto !important
		width: 90% !important

	.link-home
		display: none

	#logo_link
		display: none

	.single .trip-intro .highlight
		max-width: 120px

@media only screen and (min-width: 200px) and (max-width: 499px)
	#sub-nav .sub-nav-right
		width: 100% !important

	article
		padding: 0 10px

	.rwd.pyt
		top: 9px
		position: absolute
		right: 0

	#sub-nav .sub-nav-right a
		padding: 0 !important

	#sub-nav .sub-nav-right .rwd.pyt a
		padding: 12px 5px !important

	#sub-nav
		height: 45px !important
		padding-top: 3px !important

	#sidebar1, #sidebar1, #sidebar
		position: relative !important
		margin-top: 0
		padding: 2px 25px 25px 25px
		width: 92%
		margin: 0 auto !important
		clear: both !important
		float: none !important
		background-size: 100%

	#sub-footer
		margin: 0 auto !important
		width: 90%

	.footer-follows
		float: none

	#inner-footer
		width: 85%

	.sub-footer-right
		float: left

	.eightcol
		width: 100% !important

	.trip
		width: 90%
		margin: 5%
		padding: 5% 10%

	div.col.button
		float: none
		display: block
		clear: both
		width: 100%
		text-align: center
		margin-bottom: 10px !important

	.trip .col.pic
		width: 100%
		text-align: center
		margin-bottom: 10px

	.trip .col.pic img
		width: 100%

	div.col.content
		width: 100%
		float: none

	.trip-intro .highlight
		width: 100% !important

	.trip-intro .highlight strong
		display: block

	.trip-intro .price
		width: 100% !important
		text-align: left !important

	.trip-intro .button
		width: 100%
		text-align: center

	.su-column
		width: 100% !important
		padding: 10px

	.portfolio-slideshow
		height: 230px !important

	.mtt-left, .mtt-right
		width: 100%
		display: block
		padding-left: 0 !important

	.item:hover h5.hover-message
		display: none !important

	.item
		width: 90%
		margin: 0 5%

	div.slider-content
		display: none

	#sub-footer .su-column
		margin-bottom: 0 !important

	#sub-footer .su-column p
		margin: 0

	.trip .col .icons
		float: left !important
		margin-top: -5px

	img.alignright
		float: none

	.entry-content img
		float: right
		margin-left: 1em

	.contact-col p
		width: 100%

	#fancybox-content h1
		margin: 0
		font-size: 20px

	.btn-pyt-reg
		display: none !important

	.btn-pyt-rwd
		display: block !important

	.contact-col
		width: 100%
		float: none

	.lgo a
		height: 60px !important

	.itinerary_tab
		padding: 10px

	.article-header > .trip.single
		width: 100%

@media only screen and (min-width: 500px) and (max-width: 767px)
	.contact-col
		width: 100%
		float: none

	#sidebar1, #sidebar
		position: relative !important
		margin-top: 0
		background-image: none !important
		width: 90%
		margin: 0 auto !important
		clear: both !important
		float: none !important

	#sub-footer
		margin: 0 auto !important
		width: 90%

	.footer-follows
		float: none

	#inner-footer
		width: 85%

	.sub-footer-right
		float: left

	.eightcol
		width: 100% !important

	.item
		width: 90%
		margin: 0 5%

	.item:hover h5.hover-message img
		background: #f00

	.item:hover h5.hover-message
		display: none !important

	div.col.price
		width: 26% !important

	.su-column input
		width: 100% !important

@media only screen and (min-width: 768px) and (max-width: 1000px)
	.eightcol
		width: 63% !important

	.sub-footer-right
		max-width: 350px

	.sub-footer-left
		max-width: 370px

	.footer-follows
		float: left

	#sidebar, #sidebar1
		width: 250px

	.hdg-grey-caps
		font-size: 15px

	.trip-intro .highlight
		width: 46% !important

	.trip-intro .highlight strong
		display: block

	div.col.button
		width: 27%
		font-size: 10px
		text-align: center
		padding: 5px

	div.col.price
		width: 26% !important
		font-size: .9em
		text-align: left
		margin-right: 0

	div.col.price br
		display: none !important

	div.col.highlight table
		width: 100%

	div.col.highlight table strong
		margin-right: 5px

	.price strong
		display: block
		margin-right: 20px

	#content h1
		font-weight: 500
		font-size: 1.8em

	.widget-block-links ul.page-list li a
		height: 40px
		width: 100px !important
		margin-right: 5px

	div.form-col
		width: 450px !important
		float: none !important

	div.form-col p
		clear: both

	div.form-col textarea
		display: block

	span.wpcf7-form-control-wrap
		margin-bottom: 20px

	.breadcrumb
		width: 65%
		padding-top: 5px

	div.item
		width: 48%
		margin-right: 2%

	.item:hover h5.hover-message
		font-size: 1.5em
		padding: 23% 20px 15% 20px

	.trip .col .icons
		float: left !important
		margin-top: -12px

	.su-column input
		width: 100% !important

	.link-home
		display: none

@media only screen and (min-width: 950px) and (max-width: 1023px)
	div.item-name
		top: 180px

	div.item-desc
		top: 200px
		font-size: 12px

@media only screen and (max-width: 1023px)
	#slideshow-home, #new-royalslider-1
		max-height: 300px !important

@media only screen and (min-width: 1024px) and (max-width: 1280px)
	div.item
		width: 275px !important

	#slideshow-home, #new-royalslider-1
		max-height: 380px !important

@media only screen and (min-width: 1281px) and (max-width: 1600px)
	#slideshow-home, #new-royalslider-1
		max-height: 465px !important

	#slideshow-home .royalSlider img, #new-royalslider-1 .royalSlider img

	.rsUni .rsThumb img
		margin-top: 0px !important

@media only screen and (min-width: 1601px) and (max-width: 1700px)
	#slideshow-home, #new-royalslider-1
		max-height: 610px !important

	#slideshow-home .royalSlider img, #new-royalslider-1 .royalSlider img
		position: absolute
		top: 0px

@media only screen and (min-width: 1701px) and (max-width: 1800px)
	#slideshow-home, #new-royalslider-1
		height: 600px !important

	#slideshow-home .royalSlider img, #new-royalslider-1 .royalSlider img
		position: absolute
		top: 0px

	.rsUni .rsThumb img
		margin-top: 0px !important

@media only screen and (min-width: 1801px)
	#slideshow-home, #new-royalslider-1
		max-height: 650px !important

	#slideshow-home .royalSlider img, #new-royalslider-1 .royalSlider img
		position: absolute
		top: 0px
		float: left

	.rsUni .rsThumb img
		margin-top: 0px !important

.cptch_block input[type=text]
	min-width: 50px !important

#comment-nav ul li
	list-style: none

.no-mediaqueries .slider-content
	z-index: 799 !important

.no-mediaqueries .menu_container
	z-index: 1

.no-mediaqueries .main_menu li
	display: inline-block
	float: left
	margin: 0
	padding: 0 5px 0px 0px
	position: relative
	z-index: 999

.no-mediaqueries .main_menu li.menu_active a
	color: #EF8A0B

.no-mediaqueries .main_menu li a
	font-family: 'Montserrat', sans-serif
	font-size: 13px
	font-weight: 400
	text-transform: uppercase
	cursor: pointer
	display: block
	line-height: 1.4em
	text-decoration: none
	color: #333333
	padding: 13px 16px

.no-mediaqueries .main_menu li .sub-menu
	display: none
	background: white
	margin: 0
	padding: 20px
	position: absolute
	width: 400px
	z-index: 899

.no-mediaqueries .main_menu li:hover .sub-menu li a
	color: #333 !important

.no-mediaqueries .nav-about .sub-menu
	height: 320px
	padding: 10px

.no-mediaqueries .nav-about .sub-menu .sub_sub_menu a
	font-size: 15px
	line-height: 21px
	cursor: normal

.no-mediaqueries .nav-about .sub-menu .sub_sub_menu .sub-menu
	padding: 0px

.no-mediaqueries .nav-about .sub-menu .sub_sub_menu .sub-menu li
	padding: 0px

.no-mediaqueries .nav-about .sub-menu .sub_sub_menu .sub-menu li a
	color: #333 !important
	font-size: 13px
	cursor: pointer

.no-mediaqueries .main_menu li:hover .sub-menu li:hover a
	color: #EF8A0B !important

.no-mediaqueries .nav-about .sub-menu:hover .sub_sub_menu:hover a
	color: #EF8A0B !important

.no-mediaqueries .nav-about .sub-menu:hover .sub_sub_menu a
	color: #333 !important

.no-mediaqueries .nav-about .sub-menu:hover .sub_sub_menu:hover .sub-menu:hover li a
	color: #333 !important

.no-mediaqueries .nav-about .sub-menu:hover .sub_sub_menu:hover .sub-menu:hover li:hover a
	color: #EF8A0B !important

.no-mediaqueries .sub-menu li
	padding: 0px 5px
	display: inline-block
	width: 50%
	margin: 0
	vertical-align: top

.no-mediaqueries .sub-menu li:nth-child(odd)
	width: 50%

.no-mediaqueries .sub-menu li:before
	padding: 5px
	margin-right: 5px
	color: orange
	background-color: white
	display: inline-block

.no-mediaqueries .sub-menu li a
	text-transform: uppercase
	font-family: 'Montserrat', sans-serif
	font-weight: 400
	text-decoration: none
	color: #333

.no-mediaqueries .sub-menu li a:hover, .current-menu-item a, .current-menu-parent a
	color: #EF8A0B

.no-mediaqueries .sub_sub_menu .sub-menu
	display: block !important
	margin-bottom: 0px

.no-mediaqueries .sub_sub_menu a
	color: #666 !important
	font-size: 15px
	line-height: 21px

.no-mediaqueries .sub_sub_menu a:hover
	color: #666 !important

.no-mediaqueries .sub_sub_menu .sub-menu li
	width: 100%
	padding: 10px 0px

.no-mediaqueries #logo_link
	z-index: 99

.no-mediaqueries .responsiveMenuSelect
	display: none

.no-mediaqueries #logo_link
	background: url("images/logo-journey-mexico.png") !important
	height: 129px
	position: absolute
	top: -37px
	width: 160px
	z-index: 899

.no-mediaqueries #logo_link:hover
	top: -33px

@media only screen and (min-width: 768px)
	.main_menu > li
		display: inline-block
		float: left
		margin: 0
		padding: 0
		position: relative
		z-index: 200

	.main_menu > li.menu_active > a
		color: #EF8A0B

	.main_menu > li > a
		font-family: 'Montserrat', sans-serif
		font-size: 12px
		font-weight: 400
		text-transform: uppercase
		cursor: pointer
		display: block
		line-height: 1.4em
		text-decoration: none
		// color: rgba(0,0,0,0.58)
		color #333
		padding: 13px 16px
		relative()
		&:after
			border-right 1px dotted #F97C00
			content ''
			display block
			height 15px
			margin-top -9px
			position absolute
			right 0
			top 50%
			width 1px

	.main_menu > li > .sub-menu
		display: none
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9)
		margin: 0
		padding: 20px
		position: absolute
		width: 380px
		z-index: 999

	.sub-menu > li
		padding: 10px 5px
		display: inline-block
		width: 45%
		margin: 0
		vertical-align: top

	.sub-menu > li:nth-child(odd)
		width: 50%

	.sub-menu > li:before
		padding: 5px
		margin-right: 5px
		color: orange
		background-color: white
		display: inline-block

	.sub-menu > li > a
		// text-transform: uppercase
		font-family: 'Montserrat', sans-serif
		font-weight: 400
		text-decoration: none
		color: rgba(0,0,0,0.5)

	.sub-menu > li > a:hover, .current-menu-item > a, .current-menu-parent > a
		color: #EF8A0B

	.sub_sub_menu .sub-menu
		display: block

	.sub_sub_menu > a
		color: #666 !important
		font-size: 15px
		line-height: 21px

	.sub_sub_menu > a:hover
		color: #666 !important

	.sub_sub_menu > .sub-menu
		margin-bottom: 0px

	.sub_sub_menu > .sub-menu > li
		width: 100%
		padding: 10px 0px

	#logo_link
		display: none
		z-index: 99

@media only screen and (min-width: 1010px)
	#logo_link
		display: block

	div.col.social
		max-width: 330px

@media only screen and (min-width: 1066px)
	.main_menu > li > a
		padding: 13px 16px

.mr_social_sharing_wrapper .linksalpha_image
	display: none

.commentlist .vcard
	height: 40px
	padding-left: 20px

// 
// Shortcodes ultimate
// 

@import "su.styl"

// 
// Strip
// 

@import "strip.styl"
.strp-window,
.strp-page
	height 100vh


// 
// Pickadate
// 

// @import "default.styl"
@import "classic.styl"
@import "classic.date.styl"


//
// JM Villas
//

naranja = #F97C00

@import "jquery.bxslider.styl"

@font-face
	font-family: 'jmvillas';
	src:url('fonts/jmvillas.eot?-8af693');
	src:url('fonts/jmvillas.eot?#iefix-8af693') format('embedded-opentype'),url('fonts/jmvillas.ttf?-8af693') format('truetype'),url('fonts/jmvillas.woff?-8af693') format('woff'),url('fonts/jmvillas.svg?-8af693#jmvillas') format('svg');
	font-weight: normal;
	font-style: normal;

footer.page-navigation
	display: block;
	clear: both;
	float: none;
	width: 100%;
	background: none;


[class^="jmv-"],
[class*=" jmv-"]
	font-family: 'jmvillas';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.jmv-add:before
	content: "\e069";
.jmv-search:before
	content: "\f002";
.jmv-calendar:before
	content: "\f073";
.jmv-twitter:before
	content: "\f099";
.jmv-facebook:before
	content: "\f09a";
.jmv-facebook-f:before
	content: "\f09a";
.jmv-google-plus:before
	content: "\f0d5";
.jmv-instagram:before
	content: "\f16d";
.jmv-pinterest-p:before
	content: "\f231";
.jmv-mail:before
	content: "\e600";

a.linksalpha_link.linksalpha_button
	display none !important
	overflow hidden !important
	height 0px !important
	width 0px !important

button
	-webkit-appearance: none;
	outline none

div.mr_social_sharing_wrapper
	display: inline-block !important
	width auto !important

#linksalpha_info_loader
	display none !important

#searchform
	padding 7px 0 7px 8px
	height 100%
	bg none
	display flex
	display -webkit-flex
	-webkit-align-items center
	align-items center
	input[type="image"]
		margin-right 8px
	input[type="text"]
		bg blanco
		round 2px
		border none
		height 17px
		min-width 118px

.archive__destinations
	display block !important
	.archive__destinations--sidebar
		float right
		width 31.81%
		.sidebar
			width 100%
		// flex_order(6)

.archive__villas
	flex-direction(row !important)

.archive--elem
	flex_order(1)
	height 206px
	margin-bottom 16px
	overflow hidden
	width 48.54%
	&:first-child:nth-last-child(7),
	&:first-child:nth-last-child(7) ~ &,
	&:first-child:nth-last-child(9),
	&:first-child:nth-last-child(9) ~ &,
	&:first-child:nth-last-child(11),
	&:first-child:nth-last-child(11) ~ &,
	&:first-child:nth-last-child(13),
	&:first-child:nth-last-child(13) ~ &
		&.featured
			height 225px;
			width 100%
	&.featured
		flex_order(0)
	&:hover
		figure
			&:after,
			&:before
				opacity 0
		.archive--elem__hover
			-webkit-animation: pop 0.3s ease 1;
			animation: pop 0.3s ease 1;
			opacity 1
	figure
		height 100%
		overflow hidden
		relative()
		width 100%
		&:after
			absolute()
			bg rgba(255,255,255,0.72)
			block()
			bottom 10px
			color #231F20
			content attr(data-title)
			font 14px "Montserrat",sans-serif
			padding 8px 8px 8px 20px
			right 0
			width 60%
			z-index 1
			text-transform uppercase
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
		&:before
			border-right 1px dotted #F97C00
			content ''
			display block
			height 1.2em
			margin-top -9px
			position absolute
			right unquote( calc( 60% + 1px ) )
			bottom 18px
			width 1px
			z-index 2
	img
		absolute()
		left 50%
		top 50%
		transform:translate(-50%,-50%)
		-ms-transform:translate(-50%,-50%)
		-webkit-transform:translate(-50%,-50%)
		z-index 0

.archive--elem__hover
	absolute()
	bg rgba(0,0,0,0.72)
	height 100%
	left 0
	opacity 0
	talign center
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	top 0
	width 100%
	a
		flex()
		color blanco
		height 100%
		text-decoration none
		width 100%
		&:hover
			color blanco
	.archive--elem--cont
		align-self center
	.archive--elem--titulo
		display inline-block
		padding-left 2em
		padding-right 2em
		font 19px "Montserrat",sans-serif
	.archive--elem--resumen
		block()
		centrado 75.67%

.archive-title
	display: block;
	width: 100%;

.content--breadcrumb
	min-height 20px

.content--breadcrumb--list
	margin 0
	font-size 16px
	text-transform uppercase
	a
		text-decoration none
	li
		alineados baseline
		padding 8px 10px 8px 10px
		relative()
		&:before
			border-right 1px dotted #F97C00
			content ''
			display block
			height 1.2em
			margin-top -9px
			position absolute
			left 0
			top 50%
			width 1px

.content--footer
	bg rgba(110,110,110,0.3)
	padding-bottom 1em
	#inner-footer
		flex()
		justify-content(space-between)
		align-items(baseline)
	.col-a
		margin-top: 10px
		text-align left
		a
			color naranja
	.col-b
		margin-top: -10px
		li,
		ul,
		strong
			display inline-block
			vertical-align baseline
			inter 1em
		ul
			margin-left 10px !important

.content--inner
	align-items(flex-start)
	flex()
	justify-content(space-between)
	margin-top 26px !important

.content--archive
	flex()
	flex-wrap(wrap)
	justify-content(flex-start)
	justify-content(space-between)
	flex-direction(column)
	width 100%
	// height 1100px

.content--section,
.content--page
	flex()
	flex-wrap(wrap)
	justify-content(space-between)
	width 65.74%

.content--villa
	width: 100%;
	margin: 0px auto;

.destination--header,
.content--header
	margin-top -43px
	overflow hidden
	figure
		height 465px
		overflow hidden
		relative()
		width 100vw
		img
			absolute()
			height auto
			left 50%
			max-width: 500%;
			top 50%
			-ms-transform:translate(-50%,-50%)
			-webkit-transform:translate(-50%,-50%)
			transform:translate(-50%,-50%)
			width 100vw
			z-index 0
	figcaption
		absolute()
		left 50%
		top 8rem
		z-index 2
		transform:translate(-50%,0)
		-ms-transform:translate(-50%,0)
		-webkit-transform:translate(-50%,0)
	h1
		color blanco
		font 79px "Montserrat",sans-serif
		margin 0
		talign left
		text-transform none
		&:after,
		&:before
			color naranja
		&:after
			content "]"
		&:before
			content "["

.destinationsArchive
	padding-bottom 16px
	overflow hidden
	width 31.81%
	float left
	a
		text-decoration none
	&:hover
		.destinationsArchive--figcap
			height 100%
		.destinationsArchive__hover
			max-height 100%
			height 100%
		.destinationsArchive__hover--readMore
			font-size 1rem
		.destinationsArchive__hover--add
			font-size 3.3rem
		.destinationsArchive--titulo
			max-height 0
			padding-top 0
			padding-bottom 0
			margin-top 0
			margin-bottom 0
			&:before
				hide()
		.destinationsArchive--resumen
			color naranja
	&:nth-of-type(2),
	&:nth-of-type(4),
	&:nth-of-type(6),
	&:nth-of-type(9),
	&:nth-of-type(12)
		margin-left 2.285%
		margin-right 2.285%
	// &:nth-child(1)
	// 	flex_order(0)
	// &:nth-child(2)
	// 	flex_order(1)
	// &:nth-child(3)
	// 	flex_order(2)
	// &:nth-child(4)
	// 	flex_order(3)
	// &:nth-child(5)
	// 	flex_order(4)
	// &:nth-child(6)
	// 	flex_order(5)
	// &:nth-child(7)
	// 	flex_order(7)

.destinationsArchive--fig
	height 218px
	overflow hidden
	relative()
	width 100%
	img
		left 50%
		position absolute
		top 50%
		z-index 0
		transform:translate(-50%,-50%)
		-ms-transform:translate(-50%,-50%)
		-webkit-transform:translate(-50%,-50%)

.destinationsArchive--figcap,
.destinationsArchive--titulo,
.destinationsArchive__hover
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;

.destinationsArchive--figcap
	absolute()
	bottom 0
	left 0
	width 100%
	z-index 1
	bg rgba(0,0,0,0.4)
	align-self(bottom)

.destinationsArchive--titulo
	box()
	color blanco
	font 16px "Montserrat",sans-serif
	overflow hidden
	padding 0 0 0.1rem 1.4rem
	relative()
	&:before
		border-right 1px dotted #F97C00
		content ''
		display block
		height 1.1em
		margin-top -8px
		position absolute
		left 0.7rem
		top 50%
		width 1px

.destinationsArchive--resumen
	color #231F20
	margin 0 auto
	max-width 85%
	padding 0.8rem 0
	talign center

.destinationsArchive__hover
	max-height 0
	talign center
	overflow hidden
	flex()
	flex-direction(column)
	justify-content(center)

.destinationsArchive__hover--readMore,
.destinationsArchive__hover--add
	align-self(center)
	block()
	width 100%
	margin 0 auto
	font-size 0

.destinationsArchive__hover--readMore
	color blanco

.destinationsArchive__hover--add
	color naranja
	inter 1.2em

.plan
	margin 1rem 0

.plan--children--btn
	cursor pointer
	talign right
	width 35%
	&:hover,
	span
		color naranja

.plan--content
	bg blanco

.plan--form
	box()
	flex()
	flex-wrap(wrap)
	justify-content(space-between)
	overflow: hidden;
	position: relative;
	input[type="reset"],
	input[type="submit"]
		clear both
		display inline-block
		margin-bottom 22px
		margin-top 22px
		padding 4px 8px
		text-align left
		width 35%
	input[type="reset"]
		background-color: #E0DFDE !important
		border: 1px solid #AAA;
		margin-left 3%
		round 4px;
		text-decoration none
	input[type="checkbox"]
		display:none;
		& + label span:not(.texto)
			bg #CCCCCC
			cursor:pointer;
			display:inline-block;
			height:20px;
			margin:-1px 4px 0 0;
			relative()
			width:20px;
		&:checked + label span:not(.texto)
			&:after
				content ''
				width 22px
				height 20px
				display block
				bg url(images/checkbox.svg)
				absolute()
				left 3px
				bottom 3px
		& + label span.texto
			alineados top
			width unquote( calc( 100% - 25px ) )
	input[type="text"],
	input[type="number"]
		max-width 50%
		flex-basis 50%
	input[type="text"],
	input[type="number"],
	textarea
		-webkit-appearance none
		bg none
		border 1px solid #aaa
		box()
		font-size 14px
		padding 3px 5px
		round 5px
	input[type="range"]
		max-width unquote( calc( 100% - 60px ) )
		width unquote( calc( 100% - 60px ) )
	input[type="submit"]
		background-color: #EF8A0B !important
		border: 1px solid #AAA;
		color blanco !important
		margin-left 8.195%
		round 4px;
	fieldset
		box()
		border none
		padding 0 1rem
		margin 1rem 0
		width 33%
		&:not(:last-child)
			border-right 1px dashed naranja
	label
		font-size 14px
	legend
		color naranja
		font-weight bold
		font-size 1.1em
		width auto
	textarea
		display block
		flex-basis 100%
		height 2rem
		width 100%
	.picker__input
		flex-basis 20% !important
		max-width 20% !important

.plan--form--children
	flex()
	flex-wrap(wrap)
	width 100%
	input[type="text"]
		margin-bottom 0.5rem
		max-width 100%
		width 100%

.plan--form--ages
	width 65%

.plan--line__columns
	flex-direction(column)
	label
		margin-bottom 0.3rem
	input[type="text"]
		max-width 100%
		width 100%
		flex-basis 100%

.plan--form--header
	flex()
	align-items(baseline)
	justify-content(space-between)
	margin-bottom 1rem

.plan--form--line
	flex()
	align-items(baseline)
	justify-content(space-between)
	margin-bottom 0.5rem

.plan--form--mensaje
	h2
		color #6eba90
		margin-top: 0;
	p
		font-weight bold
		font-size 14px
		padding 1rem
		margin 1rem 0
	.success
		border:1px solid #6eba90 !important
		bg #E6EFD5
	.error
		border:1px solid #f00 !important
		bg #FFEEF5

.plan--form--note
	color naranja

.plan--form--travel
	-webkit-appearance none
	bg none
	border 1px solid #aaa
	box()
	font-size 14px
	padding 3px 5px
	round 5px
	max-width 70%
	width 70%
	input[type="text"]
		border none
		max-width unquote( calc( 50% - 20px ) ) !important
		max-width unquote( calc( 50% - 20px ) ) !important

.plan--required
	font-size 0.8em
	color #ccc

.plan--header
	bg #E5E5E5
	h2
		padding 6px 10px
		relative()
		&:before
			border-right 1px dotted #F97C00
			content ''
			display block
			height 1.2em
			margin-top 6px
			position absolute
			left 0
			top 0
			width 1px

.sidebar
	align-self(auto)
	bg url(images/bg-sidebar.png) no-repeat unquote( calc( 100% + 110px ) ) unquote( calc( 100% - 300px ) ) #F5F5F5
	margin-top 0 !important
	round 22px
	sombra rgba(0,0,0,0.15) 5px 5px 6px 5px
	width 31.81%
	li
		list-style none
		margin 0
		padding 0

.sidebar__page
	float right

.sidebar--award
	margin 29px auto
	text-align center
	width 100%

.sidebar--share,
.sidebar--search
	margin 0 auto
	width 83.61%
	.fb-like
		margin-left 10px
	.hdg-grey-caps
		display block
		// margin-bottom 10px
		font-family "Montserrat",sans-serif !important
		font-weight normal

.sidebar--search
	margin-top 32px
	select
		background-color: #E0DFDE !important
		border none
		border: 1px solid #AAA;
		display block
		margin 0 0 10px 0 !important
		padding 4px 8px
		round 4px;
		width 100%

.sidebar--search--btn
	background-color: #EF8A0B !important
	border: 1px solid #AAA;
	clear both
	color blanco !important
	display inline-block
	margin-bottom 22px
	margin-left 0
	padding 4px 8px
	position relative
	round 4px;
	text-align left
	text-decoration none
	width 35%
	&:after
		color blanco
		absolute()
		right 8%
		font-family: 'jmvillas';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\f002";

.sidebar--social
	& *
		alineados middle

.slider--header
	z-index 2
	top 470px
	right 50%
	transform:translate(50%,0)
	-ms-transform:translate(50%,0)
	-webkit-transform:translate(50%,0)

	absolute()
	opacity 0.72
	z-index 9
	color blanco
	margin 0
	talign right
	h1
		font 32px "Montserrat",sans-serif
		// display: inline-block;
		// background: rgba(0,0,0,0.4);
		// padding: 0 1rem;
		&:after,
		&:before
			color naranja
		&:after
			content "]"
		&:before
			content "["

.slider--pager
	flex()
	overflow-x auto
	overflow-y hidden
	width 100%
	a
		min-width 50px
		max-width 90px
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		&:hover
			-webkit-transform: scale(1.05);
			-moz-transform: scale(1.05);
			transform: scale(1.05);
	img
		height auto !important
		width 100%
		vertical-align top
	.active
		img
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			transform: scale(1.2);
			sombra rgba(0,0,0,0.4) 0px 0px 4px

.slider__home
	margin-top -43px
	relative()
	.bx-wrapper
		figure
			relative()
			height 550px
			overflow hidden
			width 100vw
			a
				relative()
				width 100vw
				height 100%
				display block
			img
				absolute()
				// Llenen alto, falte ancho
				height: 100%;
				width: auto;
				max-width: 500%;
				top 50%
				left 50%
				z-index 0
				transform:translate(-50%,-50%)
				-ms-transform:translate(-50%,-50%)
				-webkit-transform:translate(-50%,-50%)
				&.vertical
					height 100% !important
					max-height 100% !important
					width auto !important
				&.horizontal_mediana
					height auto
					width 100vw
					max-width: 500%;

.sub-footer--contacts
	flex()
	justify-content(space-between)
	h3
		font-weight bold
		margin-bottom 0;
		padding-bottom 0

.subrayado
	border-bottom 2px dashed naranja
	margin-bottom 1rem
	padding-bottom 0.4rem

.villasArchive
	padding-bottom 16px
	overflow hidden
	width 31.81%
	a
		text-decoration none
	&:hover
		.destinationsArchive--figcap
			height 100%
		.destinationsArchive__hover
			max-height 100%
			height 100%
		.destinationsArchive__hover--readMore
			font-size 1rem
		.destinationsArchive__hover--add
			font-size 3.3rem
		.destinationsArchive--titulo
			max-height 0
			padding-top 0
			padding-bottom 0
			margin-top 0
			margin-bottom 0
			&:before
				hide()
		.destinationsArchive--resumen
			color naranja

.villa--amenities
	box()
	flex()
	justify-content(space-between)
	margin-bottom 2rem
	li
		inter 1.3em
		padding 0
		&:empty
			list-style none
			height: 0.8em;
	li,
	ul
		margin-top 0
	ul
		width 49%

.villa--bedroom
	font-size 11px

.villa--cell
	box()
	display table-cell
	padding 4px
	h4
		color #565656

.villa--block,
.grid-sizer
	width 49%

.gutter-sizer
	width 2%

.villa--block
	float: left;
	margin 0
	padding 0
	block()
	box()

// .villa--block__amenities
// 	flex_order(2)

// .villa--block__bedding
// 	flex_order(3)

// .villa--block__descripciones
// 	flex_order(0)

// .villa--block__map
// 	flex_order(4)

// .villa--block__rates
// 	flex_order(1)

.villa--content
	bg blanco
	box()
	// flex()
	// flex-wrap(wrap)
	// justify-content(space-between)
	padding 10px 2%
	h4
		color naranja
		font-size 15px
		margin-top 0
		margin-bottom 1em
		&.inline
			display inline-block
			margin-bottom 0
			vertical-align baseline
			width auto


.villa--descripcion__corta
	margin-left 10%

.villa--descripcion__full
	overflow hidden
	height auto
	max-height auto
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	table
		width 100%
	.villa--row,
	tr
		&:nth-child(odd)
			bg #efefef
	.villa--cell,
	td
		font-size 1rem
		&:first-child
			border-right 3px solid blanco
	&:after
		hide()
	&.hide
		height 25vh
		max-height 25vh
		relative()
		&:after
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
			absolute()
			block()
			bottom 0
			content ''
			height 60px
			left 0
			width 100%

.villa--descripcion__full--btn
	-webkit-appearance: none;
	outline none
	bg none
	border none
	cursor pointer
	display block
	margin 1rem 0 2rem
	talign right
	width 100%

.villa--descripcion__full--add,
.villa--descripcion__full--readMore
	inter 1em
	vertical-align middle

.villa--descripcion__full--add
	color naranja
	font-size 24px

.villa--descripcion__full--readMore
	color #ccc
	font-size 16px

.villa--header
	bg #E5E5E5
	box()
	flex()
	justify-content(space-between)
	padding 10px 2%
	width 100%
	h2,
	h3
		block()
		font-weight normal
		inter 1.1em
		margin-bottom 0
		margin-top 0
	h2
		color naranja
		font-size 24px
	h3
		color rgba(35,31,32,0.56)
		font-size 16px
		margin-left 100px

.villa--map
	block()
	height: 266px;

.villa--rates
	h4
		margin-bottom 0
	table
		width 100%
	.villa--row,
	tr
		&:nth-child(odd)
			bg #efefef
	.villa--cell,
	td
		font-size 1rem
		&:first-child
			border-right 3px solid blanco

.villa--rates__conditions
	p
		color #565656
		font-size 15px

.villa--rates__conds
	color #666
	display block
	font-size 11px
	margin-bottom 36px
	talign right
	&:before
		content '*'

.villa--related
	margin 1rem

.villa--related--content
	.bx-wrapper .bx-prev
		left: -20px
		background: url(images/btn-slide-izq-nar.svg) no-repeat center center

	.bx-wrapper .bx-next
		right: -20px
		background: url(images/btn-slide-der-nar.svg) no-repeat center center

.villa--related--header
	bg #E5E5E5
	h2
		padding 6px 10px
		relative()
		&:before
			border-right 1px dotted #F97C00
			content ''
			display block
			height 1.2em
			margin-top 6px
			position absolute
			left 0
			top 0
			width 1px

.villa--row
	display table-row

.villa--table
	box()
	display table
	margin-bottom 1rem
	width 100%

input[type=range]
	-webkit-appearance: none;
	margin: 10px 0;
	relative()
	width: 100%;
	block()
	&:after,
	&:before
		display none
	&::-webkit-slider-runnable-track
		animate: 0.2s;
		background: naranja;
		border-radius: 25px;
		border: 0px solid #000101;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		cursor: pointer;
		height: 2px
		width: 100%;
	&::-webkit-slider-thumb
		-webkit-appearance: none;
		background: naranja;
		border-radius: 50%
		border: 0px solid #000000;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		cursor: pointer;
		height: 16px;
		margin-top: -3.6px;
		width: 16px;
	&::-moz-range-track
		animate: 0.2s;
		background: naranja;
		border-radius: 25px;
		border: 0px solid #000101;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		cursor: pointer;
		height: 2px
		width: 100%;
	&::-moz-range-thumb
		background: naranja;
		border-radius: 50%
		border: 0px solid #000000;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		cursor: pointer;
		height: 16px;
		width: 16px;
	&::-ms-track
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 39px 0;
		color: transparent;
		cursor: pointer;
		height: 2px
		width: 100%;
	&::-ms-fill-lower
		background: naranja;
		border-radius: 50px;
		border: 0px solid #000101;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	&::-ms-fill-upper
		background: naranja;
		border-radius: 50px;
		border: 0px solid #000101;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	&::-ms-thumb
		background: naranja;
		border-radius: 50%
		border: 0px solid #000000;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
		cursor: pointer;
		height: 16px
		width: 16px
	&:focus
		outline: none;
		&::-webkit-slider-runnable-track
			background: naranja;	
		&::-ms-fill-lower
			background: naranja;
		&::-ms-fill-upper
			background: naranja;

.range-slider
	relative()
	width 100%

.range-value
	background: naranja;
	border-radius: 3px;
	color: blanco
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-left: 7px;
	padding: 2px 5px;
	position: absolute;
	right 0px
	text-align: center;
	top 7px
	width: 50px;
	
	&:after
		position: absolute;
		top: 4px;
		left: -7px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-right: 7px solid naranja;
		border-bottom: 7px solid transparent;
		content: '';

._oculto
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	&.focusable:active, &.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto

@media only screen and (max-width: 1200px)
	.slider__home
		.bx-wrapper
			height 500px
			max-height 500px
			figure
				height 500px
				max-height 500px
	.slider--header
		top 420px

@media only screen and (max-width: 900px)
	.plan--form
		fieldset
			width 50%
			&:nth-child(2)
				border-right none
			&:last-child
				width 100%
	.slider__home
		.bx-wrapper
			height 460px
			max-height 460px
			figure
				height 460px
				max-height 460px
	.slider--header
		top 360px

@media only screen and (max-width: 800px)
	.archive__destinations
		display: -webkit-flex !important
		display: -ms-flexbox !important
		display: flex !important
		flex-direction: row !important
		-webkit-flex-direction: row !important
		-ms-flex-direction: row !important
		.archive__destinations--sidebar
			float none
			flex_order(2)
			width 100%
			.sidebar
				width 100%
		.destinationsArchive
			flex_order(1)
			float none
			margin auto 0 !important
			overflow hidden
			width 48%
	.content--inner
		flex-direction(column)
	.content--section,
	.content--page
	.sidebar
		width 100%
	.sidebar--share,
	.sidebar--search
		alineados top
		box()
		margin 0 auto 1rem
		padding 0 5% !important
		width 48%
	.slider__home
		.bx-wrapper
			height 380px
			max-height 380px
			figure
				height 380px
				max-height 380px
	.slider--header
		top 300px
	.villasArchive
		width 48%
	.villa--block,
	.grid-sizer
		width 100%

@media only screen and (max-width: 640px)
	#searchform
		width 90%
		input[type="text"]
			width: 90%;
	.sub-footer-right
		a
			display block
	.sub-footer--contacts
		.su-column
			width 50% !important
	.destination--header,
	.content--header
		figure
			height 350px
		img
			height 100%
			min-height 100%
			width auto !important
			max-width: 600% !important;
		h1
			font 55px
	.menu_container
		flex-direction(column-reverse)
	.plan--form
		fieldset
			width 100%
			border-right none !important
	.sidebar--share,
	.sidebar--search
		margin 0 auto 1rem
		padding 0 5% !important
		width 100%
	.slider__home
		.bx-wrapper
			height 280px
			max-height 280px
			figure
				height 280px
				max-height 280px
				// img
				// 	height 100%
				// 	min-height 100%
				// 	width auto !important
				// 	max-width 600% !important
	.slider--header
		top 200px
	
@media only screen and (max-width: 400px)
	.archive--elem
		width 100%
	.archive__destinations
		.archive__destinations--sidebar
			width 100%
			.sidebar
				width 100%
		.destinationsArchive
			width 100%
	.destination--header,
	.content--header
		figure
			height 280px
		h1
			font 48px
	.villasArchive
		width 100%


// 
// Datepicker
// 

@import "jquery-ui.styl"

// 
// Mailchip widget
// 

#mc_signup_submit
	width auto !important

.mc_interests_header,
.mc_var_label,
.mc_input
	display: inline-block !important;
	max-width: 40% !important;
	// margin: 0px 0 10px 0px !important;

.mc_interests_header
	margin-top 0 !important

.mc_input,
.mc_interest select
	background-color: #E0DFDE !important
	border none
	border: 1px solid #AAA;
	box()
	display block
	margin 0 !important
	max-width: 40% !important;
	padding 4px 8px
	round 4px;
	width 100%


@-webkit-keyframes pop
	60%
		-webkit-transform: scale(1.09);
		transform: scale(1.09);
	100%
		-webkit-transform: scale(1);
		transform: scale(1);

@keyframes pop
	60%
		-webkit-transform: scale(1.09);
		transform: scale(1.09);
	100%
		-webkit-transform: scale(1);
		transform: scale(1);